/* LANDING PAGE */

.landing-page {
  height: 100vh;
}

.title-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  font-size: 150px;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}