/* GLOBAL VARIABLES */

:root {
  --white: #EDF2F4;
  --ghost-white: #fafaff;
  --black: #333533;
  --red: #EF233C;
  --dark-red: #D90429;
  --shadow-blue: #8D99AE;
  --purple: #2B2D42;
}

/* LANDING PAGE */

.landing-page {
  height: 100vh;
}

.title-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  font-size: 150px;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  color: var(--black)
}

/* LOGIN SECTION */

.login-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-header {
  font-size: 300%;
}

.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  gap: 12%;
  color: var(--black);
}

/* USER DASH / HOME */

.home-dash {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  background-color: var(--shadow-blue);
  color: var(--black);
}

/* USER INFO DISPLAY */

.user-display {
  background-color: var(--white);
}

/* LEAGUE DISPLAY */

.league-display {
  grid-row: 2/3;
  background-color: var(--white);
  height: 100%;
  width: 100%;
  
}

.league-display-title {
  margin: 0;
  height: 5%;
}

.leagues-wrapper {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;
  /* justify-content: center; */

}

.league-card {
  height: 15%;
  width: 100%;
  background-color: var(--purple);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;

}

.league-card:hover {
  border-left: solid 10px var(--red);
  cursor: pointer;
}

/* come back and fix the height of the league cards */
/* .league-name {
  font-size: 110%;
  margin: 0;
}

.league-creator {
  margin: 0;
} */
