/* GLOBAL VARIABLES */

:root {
  --white: #EDF2F4;
  --ghost-white: #fafaff;
  --black: #333533;
  --red: #EF233C;
  --dark-red: #D90429;
  --shadow-blue: #8D99AE;
  --purple: #2B2D42;
  --green: #73a580;
  --dark-green: #003e1f;
  --white-low-op: rgba(237, 242, 244, .5);
}

::-webkit-scrollbar{
  display: none;
}

/* LANDING PAGE */

.landing-page {
  height: 100vh;
}

.title-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  font-size: 150px;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  color: var(--black)
}

/* LOGIN SECTION */

.login-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-header {
  font-size: 300%;
}

.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  gap: 12%;
  color: var(--black);
}

/* USER DASH / HOME */

.home-dash {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  background-color: var(--shadow-blue);
  color: var(--black);
}

/* USER INFO DISPLAY */

.user-display {
  grid-row: 1;
  background-color: var(--white);
}

/* LEAGUE DISPLAY */

.league-display {
  grid-row: 2;
  background-color: var(--white);
  width: 100%;
  overflow: auto;
}

.league-title-button-wrapper {
  height: 5%;
  display: flex;
  width: 100%;
  text-align: left;
}

.league-display-title-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.league-display-title {
  margin: 0 0 0 5% ;
}

.button-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add-league-button {
  height: 80%;
  width: 55%;
  margin: 0 5% 0 0;
  background-color: var(--red);
  color: var(--white);
  border: none;
  transition: .3s;
  border-radius: 15px;
}

.add-league-button:hover {
  cursor: pointer;
  width: 60%;
}

.leagues-wrapper {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;
  overflow-x: hidden;
  /* overflow-y: auto; */
}

.league-card {
  height: 15%;
  width: 100%;
  background-color: var(--purple);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;

}

.league-card:hover {
  border-left: solid 20px var(--red);
  cursor: pointer;
}

/* SPECIFC LEAGUE DETAILS PAGE */

.league-details-dash {
  height: 100vh;
  background-color: var(--shadow-blue);
  color: var(--black);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 3fr;
  
}

/* LEAGUE CREATOR INFO  */

.league-creator-info {
  background-color: var(--white);
}


/* LEAGUE MEMBERS DISPLAY  */
.league-members-display {
  grid-row: 2;
  background-color: var(--white);
}


/* LEAGUE TEAMS DISPLAY  */

.team-display {
  grid-row: 1/3;
  grid-column: 2/3;
  background-color: var(--white-low-op);
  margin: 2%;
  border-radius: 15px;
  
}

.pitch {
  background-color: var(--green);
  height: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;

}

.forwards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.midfield {
    display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
}

.defense {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.player-shield {
  background-image: url('../public/assets/images/shield.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


/* PLAYER DISPLAY */

.player-display {
  grid-row: 1/3;
  grid-column: 3;
  overflow: auto;
  background-color: var(--white-low-op);
  margin: 3%;
  border-radius: 15px;
}

.player-wrapper {
  height: 100%;
  overflow-x: hidden;
}

.player-card {
  height: 10%;
  background-color: var(--purple);
  color: var(--white);
  transition: .3s;
}

.player-card:hover {
  border-right: solid 10px var(--red) ;
}

/* LEAUGE FUTURE MATCH UPS  */