/* GLOBAL VARIABLES */

:root {
  --white: #EDF2F4;
  --ghost-white: #fafaff;
  --black: #333533;
  --red: #EF233C;
  --dark-red: #D90429;
  --shadow-blue: #8D99AE;
  --purple: #2B2D42;
  --green: #73a580;
  --dark-green: #003e1f;
  --white-low-op: rgba(237, 242, 244, .5);
  --black-low-op: rgba(51, 53, 51, .5);
  --shadow-blue-low-op: rgba(141, 153, 174, .5);
}

::-webkit-scrollbar{
  display: none;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
  
}

/* LANDING PAGE */

.landing-page {
  height: 100vh;
  width: 100vw;
  background-color: var(--shadow-blue);
}

.title-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../public/assets/images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  margin: 0;
  font-size: 150px;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  color: var(--red);
  text-decoration: underline;
  background-color: var(--shadow-blue-low-op);
  width: 100%;
  height: 20%;
}

/* LOGIN SECTION */

.login-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--shadow-blue);
}

.login-header {
  font-size: 300%;
  width: 50%;
  height: 10%;
  background-color: var(--white);
  margin-bottom: 0;
  color: var(--black);
  border-radius: 20px 20px 0 0 ;
  z-index: 1;
}

.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 50%;
  gap: 12%;
  color: var(--black);
  background-color: var(--white);
  border-radius: 0 0 20px 20px;
  box-shadow: 10px 0px 70px var(--black-low-op);
}

.form-body > input {
  border: none;
  height: 7%;
  width: 35%;
  border-radius: 7px;
  padding-left: 2% ;
}

.login-submit {
  background-color: var(--red);
  color: var(--white);
  border: none;
  height: 8%;
  width: 10%;
  border-radius: 8px;
  transition: .3s;
}

.register-navigation {
  color: var(--red);
  transition: .3s;
}

.register-navigation:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--red);
}

.login-submit:hover {
  width: 12%;
}

/* REGISER SECTION  */

.register-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--shadow-blue);
}

.register-header {
  font-size: 300%;
  width: 50%;
  height: 10%;
  background-color: var(--white);
  margin: 0;
  color: var(--black);
  border-radius: 20px 20px 0 0 ;
  z-index: 1;
}

.register-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 50%;
  gap: 12%;
  color: var(--black);
  background-color: var(--white);
  border-radius: 0 0 20px 20px;
  box-shadow: 10px 0px 80px var(--black-low-op);
}


.register-body > input {
  border: none;
  height: 4%;
  width: 35%;
  border-radius: 7px;
  padding-left: 2%;
}

.name-wrapper {
  display: flex ;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 4%;
  gap: 7%
}
.first {
  border: none;
  width: 25%;
  border-radius: 7px;
  padding-left: 2%;
  height: 100%;
}

.last {
  border: none;
  height: 100%;
  width: 25%;
  border-radius: 7px;
  padding-left: 2%;
}

.register-submit {
  background-color: var(--red);
  color: var(--white);
  border: none;
  height: 5%;
  width: 10%;
  border-radius: 8px;
  transition: .3s;
}

.register-submit:hover {
  width: 12%;
}

.register-submit:disabled {
  width: 10%;
}


/* USER DASH / HOME */

.home-dash {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  background-color: var(--shadow-blue);
  color: var(--black);
}

/* USER INFO DISPLAY */

.user-display {
  grid-row: 1;
  background-color: var(--white);
}

/* LEAGUE DISPLAY */

.league-display {
  grid-row: 2;
  background-color: var(--white);
  width: 100%;
  overflow: auto;
}

.league-title-button-wrapper {
  height: 5%;
  display: flex;
  width: 100%;
  text-align: left;
}

.league-display-title-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.league-display-title {
  margin: 0 0 0 5% ;
}

.button-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add-league-button {
  height: 80%;
  width: 55%;
  margin: 0 5% 0 0;
  background-color: var(--red);
  color: var(--white);
  border: none;
  transition: .3s;
  border-radius: 15px;
}

.add-league-button:hover {
  cursor: pointer;
  width: 60%;
}

.leagues-wrapper {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;
  overflow-x: hidden;
}

.league-card {
  height: 15%;
  width: 100%;
  background-color: var(--purple);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.league-card:hover {
  border-left: solid 20px var(--red);
  cursor: pointer;
}

/* SPECIFC LEAGUE DETAILS PAGE */

.league-details-dash {
  height: 100vh;
  background-color: var(--shadow-blue);
  color: var(--black);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

/* LEAGUE CREATOR INFO  */

.league-creator-info {
  background-color: var(--white);
}


/* LEAGUE MEMBERS DISPLAY  */

.league-members-display {
  grid-row: 2;
  background-color: var(--white);
  width: 100%;
  overflow: hidden;
}

.league-teams-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-team-button {
  background-color: var(--red);
  border: none;
  width: 70px;
  color: var(--white);
  border-radius: 15px;
  transition: .3s;
}

.add-team-button:hover {
width: 80px;
}

.members-title {
  margin-bottom: 1%;
  text-align: left;
}

.members-wrapper {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;
  overflow-x: hidden;
}

.member-card {
  height: 15%;
  width: 100%;
  background-color: var(--purple);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.member-card:hover {
  border-left: solid 20px var(--red);
  cursor: pointer;
}

/* LEAGUE TEAMS DISPLAY LIST */

.league-teams-display {
  grid-row: 3;
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
}


.team-header{ 
  margin-bottom: 1%;
  text-align: left;
}

.teams-wrapper {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;
}

.team-card {
  height: 20%;
  width: 100%;
  background-color: var(--purple);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;
}
.team-card:hover {
  border-left: solid 20px var(--red);
  cursor: pointer;
  
}
/* LEAGUE TEAMS DISPLAY  */

.team-display {
  grid-row: 1/4;
  grid-column: 2/3;
  background-color: var(--shadow-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.players-wrapper {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
}
.player-badge {
  background-image: url('../public/assets/images/trial\ badge.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

/* PLAYER DISPLAY */

.player-display {
  grid-row: 1/4;
  grid-column: 3;
  overflow: hidden;
  background-color: var(--white);
}

.player-wrapper {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;

}

.player-card {
  background-color: var(--purple);
  color: var(--white);
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  user-select: none;
  z-index: 2;
}

.player-card:hover {
  border-right: solid 10px var(--red);
}

.player-info {
  background: var(--red);
  width: 100%;
  animation: fade .3s ease-in-out ;
  margin-top: -6.5%;
  color: var(--white);
  z-index: 1;
}

/* NEW LEAGUE MODAL */

.new-league-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black-low-op);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  animation: fade .3s ease-in-out;
}


/* NEW TEAM MODAL */

.new-team-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black-low-op);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 3;
  animation: fade .3s ease-in-out;
}

.modal-content {
  background-color: var(--white);
  height: 15%;
  width: 40%;
  margin: 10%;
}


